<h1>Listing Quizzes</h1>

<table class="pure-table pure-table-horizontal">
  <thead>
    <tr>
      <th>Question</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quizzes.each do |quiz| %>
      <tr>
        <td><%= link_to quiz.title, quiz %></td>
        <td><%= link_to ' ', edit_quiz_path(quiz), :class => "fa fa-pencil-square-o" %></td>
        <td><%= link_to ' ', quiz, method: :delete, data: { confirm: 'Are you sure?' }, :class => "fa fa-trash-o" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quiz', new_quiz_path, :role => 'button', :class => "notice"  %>
