
.alert {
  padding: 20px;
  box-shadow: 0 0 5px #111;
  opacity: 0.7;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.notice {
  background-color: #0074D9;
  border: 1px solid #111 !important;
  color: white;
}

.success {
  background-color: #2ECC40;
  border: 1px solid #111 !important;
  color: white;
}

.danger {
  background-color: #FF4136;
  border: 1px solid #111 !important;
  color: white;
}

.default {
  background-color: #d7d7d7;
  border: 1px solid #111 !important;
  color: #111;
}


/// Floats

.pull-right { float: right; }
.pull-left { float: left; }
